{% extends "layout.html" %}
{% load static %}
{% block breadcumb_area_section %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Listing Editor</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
{% endblock %}
{% load crispy_forms_tags %}
{% block form_section %}
<section class="section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if messages %}
                <div>
                    <ul>
                        {% for i in messages %}
                        <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if listing_editor_form.errors %}
                    {% for field in listing_editor_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in listing_editor_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ listing_editor_form|crispy }}
                    <button class="btn essence-btn" type="submit">Update</button>
                    <button type="button" class="btn essence-btn-danger" data-toggle="modal" data-target="#confirm_listing_deletion_modal">Delete listing</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block page_specific_css %}
<style>
#div_id_categories div{
    min-height:40px;
}

.modal-delete {
    top: 15%;
}

.modal-delete .modal-header {
    border: none;
}

.modal-delete .modal-footer {
    border: none;
}
</style>
{% endblock %}
{% block page_specific_js %}
<script type="text/javascript">
/* global $ */
$(function(){
});
</script>
{% endblock %}
{% block page_specific_head_section %}
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
<script src="https://ucarecdn.com/libs/widget-tab-effects/1.x/uploadcare.tab-effects.js"></script>
<script>
  uploadcare.registerTab('preview', uploadcareTabEffects)
</script>
{{form.media}}
{% endblock %}

{% block confirm_delete_modal_section %}
<div class="modal fade" id="confirm_listing_deletion_modal" tabindex="-1" role="dialog" aria-labelledby="confirm_listing_deletion_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-delete" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row my-2">
                        <div class="col text-center icon-wrap">
                            <i class="ion-ios-close-circle-outline"></i>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col text-center">
                            <h3 class="modal-title" id="confirm_listing_deletion_modal_label">Are you sure?</h3>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col text-center">
                            <p>Do you want to delete {{current_listing.name}}<br/>This process cannot be undone.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="btn essence-btn w-75" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col text-left">
                            <a href="{% url 'delete_listing_link' listing_id=current_listing.id %}" class="btn essence-btn-danger w-75">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}