{% extends "layout.html" %}
{% load static %}
{% block breadcumb_area_section %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Listing Editor</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
{% endblock %}
{% load crispy_forms_tags %}
{% block form_section %}
<section class="section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if messages %}
                <div>
                    <ul>
                        {% for i in messages %}
                        <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if listing_editor_form.errors %}
                    {% for field in listing_editor_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in listing_editor_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ listing_editor_form|crispy }}
                    <button class="btn essence-btn" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block page_specific_css %}
<style>
</style>
{% endblock %}
{% block page_specific_js %}
<script type="text/javascript">
</script>
{% endblock %}