{% extends "layout.html" %}
{% load static %}
{% block breadcumb_area_section %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Marketplace</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
{% endblock %}

{% block shop_grid_area_section %}
<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h5 class="widget mb-30">Catagories</h5>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Fashion</h6></li>
                                <li data-toggle="collapse" data-target="#mens_clothing" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=1 %}">Men's Fashion</a>
                                    <ul class="sub-menu collapse" id="mens_clothing">
                                        <li><a href="{% url 'categories_link' category_id=1 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=2 %}">Clothes</a></li>
                                        <li><a href="{% url 'categories_link' category_id=3 %}">Watches</a></li>
                                        <li><a href="{% url 'categories_link' category_id=4 %}">Footwear</a></li>
                                        <li><a href="{% url 'categories_link' category_id=5 %}">Bags &amp; Wallets</a></li>
                                        <li><a href="{% url 'categories_link' category_id=6 %}">Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#womens_clothing" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=7 %}">Women's Fashion</a>
                                    <ul class="sub-menu collapse" id="womens_clothing">
                                        <li><a href="{% url 'categories_link' category_id=7 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=8 %}">Clothes</a></li>
                                        <li><a href="{% url 'categories_link' category_id=9 %}">Watches</a></li>
                                        <li><a href="{% url 'categories_link' category_id=10 %}">Shoes</a></li>
                                        <li><a href="{% url 'categories_link' category_id=11 %}">Bags &amp; Wallets</a></li>
                                        <li><a href="{% url 'categories_link' category_id=12 %}">Jewellery</a></li>
                                        <li><a href="{% url 'categories_link' category_id=13 %}">Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#kids_clothing" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=14 %}">Kid's Fashion</a>
                                    <ul class="sub-menu collapse" id="kids_clothing">
                                        <li><a href="{% url 'categories_link' category_id=14 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=15 %}">Clothes</a></li>
                                        <li><a href="{% url 'categories_link' category_id=16 %}">Watches</a></li>
                                        <li><a href="{% url 'categories_link' category_id=17 %}">Footwear</a></li>
                                        <li><a href="{% url 'categories_link' category_id=18 %}">Bags &amp; Wallets</a></li>
                                        <li><a href="{% url 'categories_link' category_id=19 %}">Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#luxury" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=20 %}">Luxury</a>
                                    <ul class="sub-menu collapse" id="luxury">
                                        <li><a href="{% url 'categories_link' category_id=20 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=21 %}">Apparel</a></li>
                                        <li><a href="{% url 'categories_link' category_id=22 %}">Accessories</a></li>
                                        <li><a href="{% url 'categories_link' category_id=23 %}">Bags &amp; Wallets</a></li>
                                        <li><a href="{% url 'categories_link' category_id=24 %}">Watches</a></li>
                                        <li><a href="{% url 'categories_link' category_id=25 %}">Shoes</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#health_and_beauty" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=26 %}">Health &amp; Beauty</a>
                                    <ul class="sub-menu collapse" id="health_and_beauty">
                                        <li><a href="{% url 'categories_link' category_id=26 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=27 %}">Makeup</a></li>
                                        <li><a href="{% url 'categories_link' category_id=28 %}">Hair Care</a></li>
                                        <li><a href="{% url 'categories_link' category_id=29 %}">Face &amp; Skin Care</a></li>
                                        <li><a href="{% url 'categories_link' category_id=30 %}">Bath &amp; Body</a></li>
                                        <li><a href="{% url 'categories_link' category_id=31 %}">Perfume &amp; Deodorants</a></li>
                                        <li><a href="{% url 'categories_link' category_id=32 %}">Hand &amp; Foot Care</a></li>
                                        <li><a href="{% url 'categories_link' category_id=33 %}">Men's Grooming</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Home &amp; Living</h6></li>
                                <li data-toggle="collapse" data-target="#babies_and_kids" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=34 %}">Babies &amp; Kids</a>
                                    <ul class="sub-menu collapse" id="babies_and_kids">
                                        <li><a href="{% url 'categories_link' category_id=34 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=35 %}">Maternity</a></li>
                                        <li><a href="{% url 'categories_link' category_id=36 %}">Nursing &amp; Feeding</a></li>
                                        <li><a href="{% url 'categories_link' category_id=37 %}">Strollers</a></li>
                                        <li><a href="{% url 'categories_link' category_id=38 %}">Bag &amp; Carriers</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#books_and_stationery" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=39 %}">Books &amp; Stationery</a>
                                    <ul class="sub-menu collapse" id="books_and_stationery">
                                        <li><a href="{% url 'categories_link' category_id=39 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=40 %}">Fiction</a></li>
                                        <li><a href="{% url 'categories_link' category_id=41 %}">Non-Fiction</a></li>
                                        <li><a href="{% url 'categories_link' category_id=42 %}">Comics &amp; Manga</a></li>
                                        <li><a href="{% url 'categories_link' category_id=43 %}">Textbooks</a></li>
                                        <li><a href="{% url 'categories_link' category_id=44 %}">Children's Books</a></li>
                                        <li><a href="{% url 'categories_link' category_id=45 %}">Stationery</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#home_and_living" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=46 %}">Home & Living</a>
                                    <ul class="sub-menu collapse" id="home_and_living">
                                        <li><a href="{% url 'categories_link' category_id=46 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=47 %}">Sofas</a></li>
                                        <li><a href="{% url 'categories_link' category_id=48 %}">Home Decor</a></li>
                                        <li><a href="{% url 'categories_link' category_id=49 %}">Bed &amp; Mattresses</a></li>
                                        <li><a href="{% url 'categories_link' category_id=50 %}">Shelves &amp; Drawers</a></li>
                                        <li><a href="{% url 'categories_link' category_id=51 %}">Furniture</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#home_appliances" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=52 %}">Home Appliances</a>
                                    <ul class="sub-menu collapse" id="home_appliances">
                                        <li><a href="{% url 'categories_link' category_id=52 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=53 %}">Kitchenware</a></li>
                                        <li><a href="{% url 'categories_link' category_id=54 %}">TV &amp; Entertainment Systems</a></li>
                                        <li><a href="{% url 'categories_link' category_id=55 %}">Cleaning &amp; Laundry</a></li>
                                        <li><a href="{% url 'categories_link' category_id=56 %}">Cooling &amp; Air Care</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Vechicles</h6></li>
                                <li data-toggle="collapse" data-target="#cars" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=57 %}">Cars</a>
                                    <ul class="sub-menu collapse" id="cars">
                                        <li><a href="{% url 'categories_link' category_id=57 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=58 %}">Cars for Sale</a></li>
                                        <li><a href="{% url 'categories_link' category_id=59 %}">Parallel Imports</a></li>
                                        <li><a href="{% url 'categories_link' category_id=60 %}">Commercial Vehicles</a></li>
                                        <li><a href="{% url 'categories_link' category_id=61 %}">Vehicle Rentals</a></li>
                                        <li><a href="{% url 'categories_link' category_id=123 %}">Other Vehicles</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#motorcycles" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=62 %}">Motorcycles</a>
                                    <ul class="sub-menu collapse" id="motorcycles">
                                        <li><a href="{% url 'categories_link' category_id=62 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=63 %}">Motorcycles for Sale</a></li>
                                        <li><a href="{% url 'categories_link' category_id=64 %}">Motorcycle Apparel</a></li>
                                        <li><a href="{% url 'categories_link' category_id=65 %}">Motorcycle Parts &amp; Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#bicycles" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=66 %}">Bicycles</a>
                                    <ul class="sub-menu collapse" id="bicycles">
                                        <li><a href="{% url 'categories_link' category_id=66 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=67 %}">Bicycles for Sale</a></li>
                                        <li><a href="{% url 'categories_link' category_id=68 %}">Bicycle Apparel</a></li>
                                        <li><a href="{% url 'categories_link' category_id=69 %}">Bicycle Parts &amp; Accessories</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Hobbies</h6></li>
                                <li data-toggle="collapse" data-target="#learning_and_enrichment" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=70 %}">Learning &amp; Enrichment</a>
                                    <ul class="sub-menu collapse" id="learning_and_enrichment">
                                        <li><a href="{% url 'categories_link' category_id=70 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=71 %}">Professional Skills</a></li>
                                        <li><a href="{% url 'categories_link' category_id=72 %}">Workshops</a></li>
                                        <li><a href="{% url 'categories_link' category_id=73 %}">Sport &amp; Fitness Classes</a></li>
                                        <li><a href="{% url 'categories_link' category_id=74 %}">Music &amp; Arts Classes</a></li>
                                        <li><a href="{% url 'categories_link' category_id=75 %}">Enrichment &amp; Tuition</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#music_and_media" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=76 %}">Music &amp; Media</a>
                                    <ul class="sub-menu collapse" id="music_and_media">
                                        <li><a href="{% url 'categories_link' category_id=76 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=77 %}">Music Instruments</a></li>
                                        <li><a href="{% url 'categories_link' category_id=124 %}">Music Accessories</a></li>
                                        <li><a href="{% url 'categories_link' category_id=78 %}">CDs,DVDs &amp; Other Media</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#photography" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=79 %}">Photography</a>
                                    <ul class="sub-menu collapse" id="photography">
                                        <li><a href="{% url 'categories_link' category_id=79 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=80 %}">Cameras</a></li>
                                        <li><a href="{% url 'categories_link' category_id=81 %}">Video Equipment</a></li>
                                        <li><a href="{% url 'categories_link' category_id=82 %}">Drones</a></li>
                                        <li><a href="{% url 'categories_link' category_id=83 %}">Camera Lenses</a></li>
                                        <li><a href="{% url 'categories_link' category_id=84 %}">Camera Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#design_and_craft" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=85 %}">Design &amp; Craft</a>
                                    <ul class="sub-menu collapse" id="design_and_craft">
                                        <li><a href="{% url 'categories_link' category_id=85 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=86 %}">Handmade Craft</a></li>
                                        <li><a href="{% url 'categories_link' category_id=87 %}">Arts &amp; Prints</a></li>
                                        <li><a href="{% url 'categories_link' category_id=88 %}">Craft Supplies &amp; Tools</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#sports" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=89 %}">Sports</a>
                                    <ul class="sub-menu collapse" id="sports">
                                        <li><a href="{% url 'categories_link' category_id=89 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=90 %}">Sports Apparel</a></li>
                                        <li><a href="{% url 'categories_link' category_id=91 %}">Braces &amp; Supports</a></li>
                                        <li><a href="{% url 'categories_link' category_id=92 %}">Sports &amp; Games Equipment</a></li>
                                        <li><a href="{% url 'categories_link' category_id=93 %}">Weight &amp; Gym Equipment</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#vintage_and_collectibles" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=94 %}">Vintage &amp; Collectibles</a>
                                    <ul class="sub-menu collapse" id="vintage_and_collectibles">
                                        <li><a href="{% url 'categories_link' category_id=94 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=95 %}">Vintage Collectibles</a></li>
                                        <li><a href="{% url 'categories_link' category_id=96 %}">Vintage Watches &amp; Jewellery</a></li>
                                        <li><a href="{% url 'categories_link' category_id=97 %}">Stamps &amp; Prints</a></li>
                                        <li><a href="{% url 'categories_link' category_id=98 %}">Currency</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Entertainment & Games</h6></li>
                                <li data-toggle="collapse" data-target="#entertainment" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=120 %}">Entertainment</a>
                                    <ul class="sub-menu collapse" id="entertainment">
                                        <li><a href="{% url 'categories_link' category_id=120 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=99 %}">Attractions</a></li>
                                        <li><a href="{% url 'categories_link' category_id=100 %}">Events &amp; Concerts</a></li>
                                        <li><a href="{% url 'categories_link' category_id=101 %}">Gift Cards &amp; Vouchers</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#toys_and_games" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=102 %}">Toys &amp; Games</a>
                                    <ul class="sub-menu collapse" id="toys_and_games">
                                        <li><a href="{% url 'categories_link' category_id=102 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=103 %}">Video Games</a></li>
                                        <li><a href="{% url 'categories_link' category_id=104 %}">Stuffed Toys</a></li>
                                        <li><a href="{% url 'categories_link' category_id=105 %}">Bricks &amp; Figurines</a></li>
                                        <li><a href="{% url 'categories_link' category_id=106 %}">Board Games &amp; Cards</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Electronics</h6></li>
                                <li data-toggle="collapse" data-target="#audio" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=121 %}">Audio Equipment</a>
                                    <ul class="sub-menu collapse" id="audio">
                                        <li><a href="{% url 'categories_link' category_id=121 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=108 %}">Headphones</a></li>
                                        <li><a href="{% url 'categories_link' category_id=109 %}">Earphones</a></li>
                                        <li><a href="{% url 'categories_link' category_id=110 %}">Audio Recording Equipment</a></li>
                                        <li><a href="{% url 'categories_link' category_id=111 %}">Audio Production Equipment</a></li>
                                        <li><a href="{% url 'categories_link' category_id=112 %}">Audio Parts &amp; Accessories</a></li>
                                        <li><a href="{% url 'categories_link' category_id=113 %}">Speakers</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#computers" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=114 %}">Computers</a>
                                    <ul class="sub-menu collapse" id="computers">
                                        <li><a href="{% url 'categories_link' category_id=114 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=115 %}">Desktops for Sale</a></li>
                                        <li><a href="{% url 'categories_link' category_id=116 %}">Desktop Parts &amp; Accessories</a></li>
                                        <li><a href="{% url 'categories_link' category_id=117 %}">Laptops for Sale</a></li>
                                        <li><a href="{% url 'categories_link' category_id=118 %}">Laptop Parts &amp; Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#mobile_phones_and_tablets" class="collapsed">
                                    <a href="{% url 'categories_link' category_id=122 %}">Mobile Phones &amp; Tablets</a>
                                    <ul class="sub-menu collapse" id="mobile_phones_and_tablets">
                                        <li><a href="{% url 'categories_link' category_id=122 %}">All</a></li>
                                        <li><a href="{% url 'categories_link' category_id=125 %}">iPhones</a></li>
                                        <li><a href="{% url 'categories_link' category_id=126 %}">Android Phones</a></li>
                                        <li><a href="{% url 'categories_link' category_id=127 %}">Tablets</a></li>
                                        <li><a href="{% url 'categories_link' category_id=128 %}">Mobile &amp; Tablet Accessories</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Others</h6></li>
                                <li><a href="{% url 'categories_link' category_id=119 %}">Everything Else</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget price mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Filter by</h6>
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Price</p>

                        <div class="widget-desc">
                            <div class="slider-range">
                                <div data-min="1" data-max="999" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="1" data-value-max="999" data-label-result="Range:">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span id = "price-slider-left" class="ui-slider-handle ui-state-default ui-corner-all price-slider" tabindex="0"></span>
                                    <span id = "price-slider-right" class="ui-slider-handle ui-state-default ui-corner-all price-slider" tabindex="0"></span>
                                </div>
                                <div class="range-price">Range: $1.00 - $999.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span>{{number_of_listings_found}}</span> listings found</p>
                                </div>
                                <!-- Sorting -->
                                <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form method="GET" id="sort_by_form">
                                        <select name="sort_by" id="sortByselect">
                                            <option value="highest_rated">Highest Rated</option>
                                            <option value="new">Newest</option>
                                            <option value="price_high_to_low">Price: $$ - $</option>
                                            <option value="price_low_to_high">Price: $ - $$</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{% static 'img/product-img/product-1.jpg' %}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{% static 'img/product-img/product-2.jpg' %}" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$55.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{% static 'img/product-img/product-2.jpg' %}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{% static 'img/product-img/product-3.jpg' %}" alt="">

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{% static 'img/product-img/product-3.jpg' %}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{% static 'img/product-img/product-4.jpg' %}" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge new-badge">
                                        <span>New</span>
                                    </div>

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <span class="float-right">ASD</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        {% for i in all_listings %}
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{{ i.listing_photo.cdn_url }}-/resize/210x286/" alt="">
                        
                                    <!-- Favourite -->
                                    {% if i.id in liked_listing_list %}
                                    <div class="product-favourite" data-listing-id="{{i.id}}">
                                        <a href="#" class="favme fa fa-heart like_icon active"></a>
                                    </div>
                                    {% else %}
                                    <div class="product-favourite" data-listing-id="{{i.id}}">
                                        <a href="#" class="favme fa fa-heart like_icon"></a>
                                    </div>
                                    {% endif %}
                                </div>
                        
                                <!-- Product Description -->
                                <div class="product-description">
                                    <div class="row mb-2">
                                        <div class="col-5 pr-0 text-left">
                                            <span>{{i.seller}}</span>
                                        </div>
                                        <div class="col-7 pl-0 text-right">
                                            <span>{{i.date_time_listed}}</span>
                                        </div>
                                    </div>
                                    <a href="single-product-details.html">
                                        <h6>{{i.name}}</h6>
                                    </a>
                                    <p class="product-price">${{i.price}}</p>
                        
                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="{% url 'single_listing_link' listing_id=i.id %}" class="btn essence-btn">Buy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Grid Area End ##### -->
{% endblock %}
{% block page_specific_css %}
<style>
    .megamenu{
        max-height:50vh;
        overflow:scroll;
    }
</style>
{% endblock %}
{% block page_specific_head_section %}
{{form.media}}
{% endblock %}
{% block page_specific_js %}
<script type="text/javascript">
/* global $ */
/* global axios */
    $(function(){
        $(".nice-select").children().on("change",function(){
            ("#sort_by_form").submit();
        });
        $(".product-favourite").on("click",".like_icon",function(){
            let base_url = window.location.href;
            let listing_id = $(this).parent().data("listing-id");
            axios.get(base_url+"listing/single/"+listing_id.toString()+"/favourite/", {
                    params: {
                        listing_id:listing_id
                    }
                })
                .then(function(response) {
                    console.log(response);
                })
                .catch(function(error) {
                    console.log(error);
                });
            });
    });
</script>
{% endblock %}