{% extends "layout.html" %}
{% load static %}
{% block breadcumb_area_section %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>My Listings</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
{% endblock %}

{% block shop_grid_area_section %}
<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h5 class="widget mb-30">Catagories</h5>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Fashion</h6></li>
                                <li data-toggle="collapse" data-target="#mens_clothing" class="collapsed">
                                    <a href="#">Men's Fashion</a>
                                    <ul class="sub-menu collapse" id="mens_clothing">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Clothes</a></li>
                                        <li><a href="#">Watches</a></li>
                                        <li><a href="#">Footwear</a></li>
                                        <li><a href="#">Bags &amp; Wallets</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#womens_clothing" class="collapsed">
                                    <a href="#">Women's Fashion</a>
                                    <ul class="sub-menu collapse" id="womens_clothing">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Clothes</a></li>
                                        <li><a href="#">Watches</a></li>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Bags &amp; Wallets</a></li>
                                        <li><a href="#">Jewellery</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#kids_clothing" class="collapsed">
                                    <a href="#">Kid's Fashion</a>
                                    <ul class="sub-menu collapse" id="kids_clothing">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Clothes</a></li>
                                        <li><a href="#">Watches</a></li>
                                        <li><a href="#">Footwear</a></li>
                                        <li><a href="#">Bags &amp; Wallets</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#luxury" class="collapsed">
                                    <a href="#">Luxury</a>
                                    <ul class="sub-menu collapse" id="luxury">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Apparel</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Bags &amp; Wallets</a></li>
                                        <li><a href="#">Watches</a></li>
                                        <li><a href="#">Shoes</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#health_and_beauty" class="collapsed">
                                    <a href="#">Health &amp; Beauty</a>
                                    <ul class="sub-menu collapse" id="health_and_beauty">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Hair Care</a></li>
                                        <li><a href="#">Face &amp; Skin Care</a></li>
                                        <li><a href="#">Bath &amp; Body</a></li>
                                        <li><a href="#">Perfume &amp; Deodorants</a></li>
                                        <li><a href="#">Hand &amp; Foot Care</a></li>
                                        <li><a href="#">Men's Grooming</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Home &amp; Living</h6></li>
                                <li data-toggle="collapse" data-target="#babies_and_kids" class="collapsed">
                                    <a href="#">Babies &amp; Kids</a>
                                    <ul class="sub-menu collapse" id="babies_and_kids">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Maternity</a></li>
                                        <li><a href="#">Nursing &amp; Feeding</a></li>
                                        <li><a href="#">Strollers, Bag &amp; Carriers</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#books_and_stationery" class="collapsed">
                                    <a href="#">Books &amp; Stationery</a>
                                    <ul class="sub-menu collapse" id="books_and_stationery">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Fiction</a></li>
                                        <li><a href="#">Non-Fiction</a></li>
                                        <li><a href="#">Comics &amp; Manga</a></li>
                                        <li><a href="#">Textbooks</a></li>
                                        <li><a href="#">Children's Books</a></li>
                                        <li><a href="#">Stationery</a></li>
                                        <li><a href="#">Others</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#furniture" class="collapsed">
                                    <a href="#">Furniture</a>
                                    <ul class="sub-menu collapse" id="furniture">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Sofas</a></li>
                                        <li><a href="#">Home Decor</a></li>
                                        <li><a href="#">Bed &amp; Mattresses</a></li>
                                        <li><a href="#">Shelves &amp; Drawers</a></li>
                                        <li><a href="#">Furniture</a></li>
                                        <li><a href="#">Others</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#home_appliances" class="collapsed">
                                    <a href="#">Home Appliances</a>
                                    <ul class="sub-menu collapse" id="home_appliances">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Kitchenware</a></li>
                                        <li><a href="#">TV &amp; Entertainment Systems</a></li>
                                        <li><a href="#">Cleaning &amp; Laundry</a></li>
                                        <li><a href="#">Cooling &amp; Air Care</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Vechicles</h6></li>
                                <li data-toggle="collapse" data-target="#cars" class="collapsed">
                                    <a href="#">Cars</a>
                                    <ul class="sub-menu collapse" id="cars">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Cars for Sale</a></li>
                                        <li><a href="#">Parallel Imports</a></li>
                                        <li><a href="#">Commercial Vehicles</a></li>
                                        <li><a href="#">Vehicle Rentals</a></li>
                                        <li><a href="#">Other Vehicles</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#motorcycles" class="collapsed">
                                    <a href="#">Motorcycles</a>
                                    <ul class="sub-menu collapse" id="motorcycles">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Motorcycles for Sale</a></li>
                                        <li><a href="#">Motorcycle Apparel</a></li>
                                        <li><a href="#">Motorcycle Parts &amp; Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#bicycles" class="collapsed">
                                    <a href="#">Bicycles</a>
                                    <ul class="sub-menu collapse" id="bicycles">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Bicycles for Sale</a></li>
                                        <li><a href="#">Bicycle Apparel</a></li>
                                        <li><a href="#">Bicycle Parts &amp; Accessories</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Hobbies</h6></li>
                                <li data-toggle="collapse" data-target="#learning_and_enrichment" class="collapsed">
                                    <a href="#">Learning &amp; Enrichment</a>
                                    <ul class="sub-menu collapse" id="learning_and_enrichment">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Professional Skills</a></li>
                                        <li><a href="#">Workshops</a></li>
                                        <li><a href="#">Sport &amp; Fitness Classes</a></li>
                                        <li><a href="#">Music &amp; Arts Classes</a></li>
                                        <li><a href="#">Enrichment &amp; Tuition</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#music_and_media" class="collapsed">
                                    <a href="#">Music &amp; Media</a>
                                    <ul class="sub-menu collapse" id="music_and_media">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Music Instruments</a></li>
                                        <li><a href="#">Music Accessories</a></li>
                                        <li><a href="#">CDs,DVDs &amp; Other Media</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#photography" class="collapsed">
                                    <a href="#">Photography</a>
                                    <ul class="sub-menu collapse" id="photography">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Cameras</a></li>
                                        <li><a href="#">Video Equipment</a></li>
                                        <li><a href="#">Drones</a></li>
                                        <li><a href="#">Lenses</a></li>
                                        <li><a href="#">Camera Accessories</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#design_and_craft" class="collapsed">
                                    <a href="#">Design &amp; Craft</a>
                                    <ul class="sub-menu collapse" id="design_and_craft">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Handmade Craft</a></li>
                                        <li><a href="#">Arts &amp; Prints</a></li>
                                        <li><a href="#">Craft Supplies &amp; Tools</a></li>
                                        <li><a href="#">Others</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#sports" class="collapsed">
                                    <a href="#">Sports</a>
                                    <ul class="sub-menu collapse" id="sports">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Sports Apparel</a></li>
                                        <li><a href="#">Braces &amp; Supports</a></li>
                                        <li><a href="#">Sports &amp; Games Equipment</a></li>
                                        <li><a href="#">Weight &amp; Gym Equipment</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#vintage_and_collectibles" class="collapsed">
                                    <a href="#">Vintage &amp; Collectibles</a>
                                    <ul class="sub-menu collapse" id="vintage_and_collectibles">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Vintage Collectibles</a></li>
                                        <li><a href="#">Vintage Watches &amp; Jewellery</a></li>
                                        <li><a href="#">Stamps &amp; Prints</a></li>
                                        <li><a href="#">Currency</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Entertainment & Games</h6></li>
                                <li data-toggle="collapse" data-target="#entertainment" class="collapsed">
                                    <a href="#">Entertainment</a>
                                    <ul class="sub-menu collapse" id="entertainment">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Attractions</a></li>
                                        <li><a href="#">Events &amp; Concerts</a></li>
                                        <li><a href="#">Gift Cards &amp; Vouchers</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#toys_and_games" class="collapsed">
                                    <a href="#">Toys &amp; Games</a>
                                    <ul class="sub-menu collapse" id="toys_and_games">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Video Games</a></li>
                                        <li><a href="#">Stuffed Toys</a></li>
                                        <li><a href="#">Bricks &amp; Figurines</a></li>
                                        <li><a href="#">Board Games &amp; Cards</a></li>
                                        <li><a href="#">Others</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Electronics</h6></li>
                                <li data-toggle="collapse" data-target="#audio" class="collapsed">
                                    <a href="#">Audio</a>
                                    <ul class="sub-menu collapse" id="audio">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Headphones</a></li>
                                        <li><a href="#">Earphones</a></li>
                                        <li><a href="#">Audio Recording Equipment</a></li>
                                        <li><a href="#">Audio Production Equipment</a></li>
                                        <li><a href="#">Audio Parts &amp; Accessories</a></li>
                                        <li><a href="#">Speakers</a></li>
                                        <li><a href="#">Others</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#computers" class="collapsed">
                                    <a href="#">Computers</a>
                                    <ul class="sub-menu collapse" id="computers">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Desktops for Sale</a></li>
                                        <li><a href="#">Desktop Parts &amp; Accessories</a></li>
                                        <li><a href="#">Laptops for Sale</a></li>
                                        <li><a href="#">Laptop Parts &amp; Accessories</a></li>
                                        <li><a href="#">Others</a></li>
                                    </ul>
                                </li>
                                <li data-toggle="collapse" data-target="#mobile_phones_and_tablets" class="collapsed">
                                    <a href="#">Mobile Phones &amp; Tablets</a>
                                    <ul class="sub-menu collapse" id="mobile_phones_and_tablets">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">iPhone</a></li>
                                        <li><a href="#">Android Phones</a></li>
                                        <li><a href="#">Tablets</a></li>
                                        <li><a href="#">Mobile &amp; Tablet Accessories</a></li>
                                        <li><a href="#">Others</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li><h6 class="widget-title mb-15">Others</h6></li>
                                <li><a href="#">Everything Else</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget price mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Filter by</h6>
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Price</p>

                        <div class="widget-desc">
                            <div class="slider-range">
                                <div data-min="1" data-max="999" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="1" data-value-max="999" data-label-result="Range:">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="range-price">Range: $1.00 - $999.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span>{{number_of_listings_found}}</span> listings found</p>
                                </div>
                                <!-- Sorting -->
                                <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortByselect">
                                            <option value="value">Highest Rated</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Price: $$ - $</option>
                                            <option value="value">Price: $ - $$</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{% static 'img/product-img/product-1.jpg' %}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{% static 'img/product-img/product-2.jpg' %}" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{% static 'img/product-img/product-2.jpg' %}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{% static 'img/product-img/product-3.jpg' %}" alt="">
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{% static 'img/product-img/product-3.jpg' %}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{% static 'img/product-img/product-4.jpg' %}" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge new-badge">
                                        <span>New</span>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>topshop</span>
                                    <a href="single-product-details.html">
                                        <h6>Knot Front Mini Dress</h6>
                                    </a>
                                    <p class="product-price">$80.00</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Product -->
                         {% for i in all_listings %}
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{{ i.listing_photo.cdn_url }}-/resize/210x286/" alt="">
                                </div>
                        
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{{i.seller}}</span>
                                    <a href="single-product-details.html">
                                        <h6>{{i.name}}</h6>
                                    </a>
                                    <p class="product-price">${{i.price}}</p>
                        
                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="{% url 'listingeditor_link' listing_id=i.id %}" class="btn essence-btn">Edit Listing</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Grid Area End ##### -->
{% endblock %}
{% block page_specific_css %}
<style>
    .megamenu{
        max-height:50vh;
        overflow:scroll;
    }
</style>
{% endblock %}
{% block page_specific_head_section %}
{{form.media}}
{% endblock %}