{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block single_product_details_area_section %}
<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">

    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <img src="{{ requested_listing.listing_photo.cdn_url }}" alt="">
    </div>

    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <span>{{requested_listing.seller}}</span>
        <a href="cart.html">
            <h2>{{requested_listing.name}}</h2>
        </a>
        <p class="product-price">${{requested_listing.price}}</p>
        <p class="product-desc">{{requested_listing.description}}</p>

        <!-- message & Favourite Box -->
            <div class="message-fav-box d-flex align-items-center">
                <!-- message -->
                {% if requested_listing.sold == True %}
                <button type="button" class="btn essence-btn mx-2" disabled>Listing Sold</button>
                {% else %}
                <button type="button" id="listing_buy_button"  class="btn essence-btn mx-2" data-toggle="modal" data-target="#payment_modal">Buy</button>
                {% endif %}
                <button type="button" id="listing_message_seller_button" class="btn essence-btn mx-2">Message the Seller</button>
                
                {% if user_has_liked_this_post == True %}
                <div class="product-favourite ml-4" data-listing-id="{{requested_listing.id}}">
                    <a href="#" class="favme fa fa-heart like_icon active"></a>
                </div>
                {% else %}
                <div class="product-favourite ml-4" data-listing-id="{{requested_listing.id}}">
                    <a href="#" class="favme fa fa-heart like_icon"></a>
                </div>
                {% endif %}
            </div>
    </div>
</section>
<!-- ##### Single Product Details Area End ##### -->
{% endblock %}
{% block page_specific_head_section %}
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
<script src="https://ucarecdn.com/libs/widget-tab-effects/1.x/uploadcare.tab-effects.js"></script>
<script>
  uploadcare.registerTab('preview', uploadcareTabEffects)
</script>
{{form.media}}
{% endblock %}
{% block page_specific_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
/* global $ */
/* global axios */
    $(function(){
        $(".product-favourite").on("click",".like_icon",function(){
            let base_url = window.location.href;
            let listing_id = $(this).parent().data("listing-id");
            axios.get(base_url+"listing/single/"+listing_id.toString()+"/favourite/", {
                    params: {
                        listing_id:listing_id
                    }
                })
                .then(function(response) {
                    console.log(response);
                })
                .catch(function(error) {
                    console.log(error);
                });
            });
            $(".message-fav-box").on("click","#listing_message_seller_button",function(){
                
            });
    });
</script>
{% endblock %}
{% block payment_modal_section %}
<div class="modal fade" id="payment_modal" tabindex="-1" role="dialog" aria-labelledby="payment_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-delete" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row my-2">
                        <div class="col text-center">
                            <h3 class="modal-title">Payment</h3>
                            <p>One step closer to getting your item</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <p>Item Name: <strong>{{requested_listing.name}}</strong></p>
                            <p>Payment To: <strong>{{requested_listing.seller}}</strong></p>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <form method="POST" id='payment-form'>
                                <label for="listing_price_total_amount">Total Amout:</label>
                                <input type="text" readonly class="form-control-plaintext" value="{{requested_listing.price}}" name="listing_price_total_amount" id="listing_price_total_amount">
                                <input type="hidden" id="listing_id" name="listing_id" value="{{requested_listing.id}}">
                                {% csrf_token %}
                                {% crispy payment_form %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <button type="button" class="btn essence-btn-danger w-75" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}