{% extends "layout.html" %}
{% load static %}
{% block regular_page_blog_wrapper_section %}
<!-- ##### Blog Wrapper Area Start ##### -->
<div class="single-blog-wrapper">
    <!-- Single Blog Post Thumb -->
    <div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>My Account</h2>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="regular-page-content-wrapper section-padding-80">
                    <div class="regular-page-text">
                        <div class="row mb-3">
                            <div class="col-4">
                                <img src="{{current_user.profile_picture.cdn_url}}" class="img-thumbnail"></img>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col">
                                        <h3>Username:</h3>
                                        {{current_user.username}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h3>Email:</h3>
                                        {{current_user.email}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h3>First Name:</h3>
                                        {{current_user.first_name}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h3>Last Name:</h3>
                                        {{current_user.last_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 class="">Bio</h3>
                                {% if current_user.bio %}
                                <blockquote class="blockquote">
                                    <p class="mb-0">{{current_user.bio}}</p>
                                </blockquote>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn essence-btn">Update Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper Area End ##### -->
{% endblock %}