{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block user_form_section %}
<section class="form-section section-padding-100-0 products-catagories-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if messages %}
                <div>
                    <ul>
                        {% for i in messages %}
                        <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ loginform|crispy }}
                    <button class="btn amado-btn" type="submit">Log In</button>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <span>New to Smooth Selling?</span><a href="{% url 'login_link' %}"><button class="btn amado-btn">Register Here!</button></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block page_specific_css %}
<style>
    #search_link {
        display:none;
    }
</style>
{% endblock %}
{% block page_specific_js %}
<script type="text/javascript">
    /* global $ */
    $(function(){
       $(".link_tag").removeClass("active");
       $("#login_link_tag").addClass("active");
    });
</script>
{% endblock %}