{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block form_section %}
<section class="section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if messages %}
                <div>
                    <ul>
                        {% for i in messages %}
                        <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if login_form.errors %}
                    {% for field in login_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in login_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ login_form|crispy }}
                    <button class="btn essence-btn" type="submit">Log In</button>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <p>New to Smooth Selling?</p>
                <a href="{% url 'register_link' %}"><button class="btn essence-btn">Register Here!</button></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block page_specific_css %}
<style>
</style>
{% endblock %}
{% block page_specific_js %}
<script type="text/javascript">
</script>
{% endblock %}